.message-list{
    border: 3px solid black;
    padding: 15px;
    
}
.message{
    margin-left: 8px;

}

.message-username{
    color: blue;

}

.message-text{
    margin-left: 8px;
    background: skyblue;
    color: black;

}